/* HOMEPAGE */
.homepage {
    text-align: center;
}

.hp-welcomeMessage {
    margin-top: 20px;
}

.hp-description {
    margin-top: 20px;
}

#hp-button {
    margin-top: 50px;
}


/* FORMPAGE */

#saveButton {
  position: relative;
  margin: 20px;
  padding: 10px;
  left: 48%;
}

#content {
    border: 2px solid black;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  table, td {
    max-width: fit-content;
    /* border: 1px solid black; */
    text-align: right;
    padding: 4px;
  }

  .title {
    margin: auto;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid black;
    background-color:firebrick;
    color: white;
  }

  #s1text {
    border: 0;
  }
  
  .rh-heading {
    margin: auto;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    background-color:firebrick;
    color: white;
  }
  
  /* Section 2 - Reaction Hazards */
  
  #section2 {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
  }
  
  #hazard-info {
    margin-left: 5%;
    text-align: right;
    padding-bottom: 10px;
  }

/* Section 3 - Additional Safety */

.as-heading {
  text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 45%;
    padding: 5px;
    border: 2px solid black;
    border-left: 0;
    border-top: 0;
    background-color:firebrick;
    color: white;
  }
  
  #as-contents {
    padding: 5px;
    border-right: 2px solid black;
    max-width: 45%;
  }

  #asText {
    width: 99%;
  }
  
  
  /* Section 4 - Identified Hazards and Risk Assessement */
  
  #section4 {
    height: 440px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
  }
  
  .ih-heading {
    position: relative;
    text-align: center;
    padding: 5px;
    margin: auto;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color:firebrick;
    color: white;
  }
  
  #ih-contents {
    position: relative;
    width: 50%;
    border-right: 2px solid black;
    height: auto;
  }

  #ihText {
    margin: 5px;
    width: 96%;
    height: 85%;
  }
  
  .ra-heading {  
    position: relative; 
    text-align: center;  
    padding: 5px;
    margin: auto;
    border-bottom: 2px solid black;
    padding: 5px;
    background-color:firebrick;
    color: white;
  }
  
  #ra-content {
    position: relative;
    width: 50%;
    height: auto;

  }

  #raText {
    padding: 5px;
  }

  /* Section 5 - Control Measures */

#section5 {
    position: relative;
    display: flex;
  }
  
  .cm-heading {
    position: relative;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid black;
    padding: 5px;
    background-color:firebrick;
    color: white;
  }
  
  #cm-content {
    width: 65%;
    position: relative;
    border-right: 2px solid black;
  }
  
  #glove-section { 
    position: relative;
    padding: 5px;
    text-align: left;
  }

  /* Section 6 - Specify Prevention */

  #section6 {
    position: relative;
  }

.prevention-list {
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  
  .sp-heading {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    background-color:firebrick;
    color: white;
  }
  
  .sp-text {
    display: inline;
    padding-left: 50px;
  }
  
  
  /* Section 7 - Additional Emergency Procedures */
  
  .aep-heading {
    text-align: center;
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0;
    border-right: 0;
    background-color:firebrick;
    color: white;
  }
  
  
  /* Section 8 - Waste Disposal and Managament of End Product */


  .s8headings {
    text-align: center;
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color:firebrick;
    color: white;
  }

  #wd-heading {
    padding: 5px;
    border-right: 2px solid black;
    margin: auto;
    padding-left: 10px;
    width: 50%;
  }
  
  #ep-heading {
    padding: 5px;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #s8tables {
    display: flex;
    border-bottom: 2px solid black;
  }

  #wdContent {
    position: relative;
    width: 49.1%;
    border-right: 2px solid black;
    padding: 5px;
  }
  
  .ep-text {
    position: relative;
    text-align: center;
  }

  /* Section 9 - Name of Assessor and Co-signatory */
  
  .s9headings {
    text-align: center;
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color:firebrick;
    color: white;
  }
  
  #assessor {
    padding: 5px;
    border-right: 2px solid black;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #cosign {
    padding: 5px;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #s9textboxes {
    display: flex;
    position: relative;
    margin: 5px;
  }

  #assText {
    width: 50%;
  }

  #cosignText {
    width: 50%;
  }
  
  
  /* Section 10 -  */
  
  
  
  /* Section 11 - Experiment */
  
  .exp-heading {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 4px;
  
    background-color:firebrick;
    color: white;
  }

  #expText {
    width: 99%;
  }
  
  #s11textbox {
    margin-top: 0;
    padding: 5px;
  }
  
  
  /* Section 12 - Chemicals Used */ 

  #section12 {
    position: relative;
    width: 100%;
  }

  .chemText {
    width: 100%;
  }

  #s12-table {
    position: relative;

  }
  
  #s12-table th {
    border: 1px solid black;
    text-align: center;
  }
  
  
  /* Split columns */

  .row {
    display: flex;
    width: 100%;
  }

  .column {
    float: left;
    width: 50%;
  }
  
  .columnText {
    width: 98%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  