/* HOMEPAGE */
.homepage {
    text-align: center;
}

.hp-welcomeMessage {
    margin-top: 20px;
}

.hp-description {
    margin-top: 20px;
}

#hp-button {
    margin-top: 50px;
}


/* FORMPAGE */

#saveButton {
  position: relative;
  margin: 20px;
  padding: 10px;
  left: 48%;
}

#content {
    border: 2px solid black;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  table, td {
    max-width: fit-content;
    /* border: 1px solid black; */
    text-align: right;
    padding: 4px;
  }

  .title {
    margin: 0;
    text-align: center;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: black;
    border-width: 2px;
    background-color:firebrick;
    color: white;
  }
  
  .headings {
    text-align: center;
    border-style: solid;
    border-top: 1;
    border-right: 0;
    border-left: 0;
    border-color: black;
    border-width: 2px;
    background-color:firebrick;
    color: white;
  }
  
  /* Section 2 - Reaction Hazards */
  
  #section2 {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
  }
  
  #hazard-info {
    margin-left: 5%;
    text-align: right;
    padding-bottom: 10px;
  }

/* Section 3 - Additional Safety */

.as-heading {
    margin-top: 0;
    margin-bottom: 0;
    width: 45.4%;
    padding: 5px;
    border: 2px solid black;
    background-color:firebrick;
    color: white;
  }
  
  #as-contents {
    padding: 5px;
  }
  
  
  /* Section 4 - Identified Hazards and Risk Assessement */
  
  #section4 {
    height: 440px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  
  }
  
  .ih-heading {
    width: 46.1%;
    padding: 5px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color:firebrick;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  #ih-contents {
    position: relative;
    max-width: fit-content;
    border-right: 2px solid black;
    height: 400px;
    padding: 5px;
  }
  
  .ra-heading {
    position: relative;
    width: 97.3%;
    border-bottom: 2px solid black;
    margin-top: -218px;
    padding: 5px;
    margin-left: -16px;
    background-color:firebrick;
    color: white;
  }
  
  #ra-content {
    position: relative;
    left: 48%;
    bottom: 231px;
    width:53.6%;
    padding-left: 4px;
  }

  /* Section 5 - Control Measures */

#section5 {
    position: relative;
  }
  
  #cm {
    display: flex;
  }
  
  .cm-heading {
    margin-top: 0;
    margin-left: 0.8px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 65.2%;
    padding: 5px;
    max-height: 30px;
    background-color:firebrick;
    color: white;
  }
  
  #cm-content {
    position: relative;
    padding: 5px;
    border-right: 2px solid black;
    width: 65.2%;
    text-align: right;
    top: -90px;
    margin-bottom: 0;
  }
  
  #glove-section { 
    max-width: 40%;
    text-align: left;
  
  }

  /* Section 6 - Specify Prevention */

.prevention-list {
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  
  .sp-heading {
    position: relative;
    margin-top: -90px;
    padding: 5px;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    background-color:firebrick;
    color: white;
  }
  
  .sp-text {
    display: inline;
    padding-left: 50px;
  }
  
  
  /* Section 7 - Additional Emergency Procedures */
  
  .aep-heading {
    padding: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  
    border-left: 0;
    border-right: 0;
    background-color:firebrick;
    color: white;
  }
  
  
  /* Section 8 - Waste Disposal and Managament of End Product */
  
  .s8headings {
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color:firebrick;
    color: white;
  }
  
  #wd-heading {
    padding: 5px;
    border-right: 2px solid black;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #ep-heading {
    padding: 5px;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #s8tables {
    display: flex;
    border-bottom: 2px solid black;
  }
  
  .ep-text {
    position: relative;
    text-align: center;
  }
  
  .wd-table {
    table-layout: fixed;
    width: 49.95%;
  
  }
  
  .ep-table {
    width: 50%;
    height: 102px;
    border-left: 2px solid black;
  }
  
  /* Section 9 - Name of Assessor and Co-signatory */
  
  .s9headings {
    display: flex;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color:firebrick;
    color: white;
  }
  
  #assessor {
    padding: 5px;
    border-right: 2px solid black;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #cosign {
    padding: 5px;
    margin: 0;
    padding-left: 10px;
    width: 50%;
  }
  
  #s9textboxes {
    display: flex;
    padding: 5px;
  }
  
  
  /* Section 10 -  */
  
  
  
  /* Section 11 - Experiment */
  
  .exp-heading {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 4px;
  
    background-color:firebrick;
    color: white;
  }
  
  #s11textbox {
    margin-top: 0;
    padding: 5px;
  }
  
  
  /* Section 12 - Chemicals Used */ 
  
  #s12-table th {
    border: 1px solid black;
    text-align: center;
  }
  
  
  /* Split columns */
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  